---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import ArticleCard from "../../components/ArticleCard.astro";
import { getCollection } from 'astro:content';
import type { CollectionEntry } from "astro:content";

// Articles per page
const articlesPerPage = 10;

// Get and sort all blog articles by publication date
const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// Get the current page from the URL or default to 1
const currentPage: number = +Astro.url.searchParams.get('page')! || 1;

// Calculate the range of articles to display based on the current page
const startIndex = (currentPage - 1) * articlesPerPage;
const endIndex = currentPage * articlesPerPage;
const articlesToDisplay = allBlogArticles.slice(startIndex, endIndex);
---

<Layout title="Positivus - Blog">
	<main class="space-y-20">
		<Container>
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
                    <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900">Our Blog</h2>
                    <p class="font-light text-gray-500 sm:text-xl">We use an agile approach to test assumptions and connect with the needs of your audience early and often.</p>
                </div>
                <div class="grid gap-8 lg:grid-cols-2">
                    {articlesToDisplay.map(article => (
                        <ArticleCard article={article} />
                    ))}
                </div>

                {/* Pagination controls */}
                <div class="flex justify-center mt-8">
                    <a href={`?page=${currentPage - 1}`} class="mr-4">Previous</a>
                    <a href={`?page=${currentPage + 1}`} class="ml-4">Next</a>
                </div>
            </div>
        </Container>
	</main>
</Layout>
